@import "./button.css";

body {
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  max-inline-size: 900px;
  margin: auto;
}
.enlace {
  text-align: center;
  background: red;
}
.enlace a {
  color: white;
  text-decoration: none;
  font-size: 25px;
}
.player {
  margin-block-start: 50px;
  position: relative;
}
.player video {
  inline-size: 100%;
  aspect-ratio: 16/9;
  vertical-align: middle;
  object-fit: cover;
}
.player-title {
  color: white;
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 20px;
}
.player-actions {
  position: absolute;
  inset: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.player-progress {
  position: absolute;
  inset-block-end: 0;
  inset-inline: 0;
  display: flex;
  padding: 10px;
  z-index: 2;
}
.player-progress input {
  flex: 1;
}
.player-overlay {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 0.3s opacity;
}
.player:hover .player-overlay {
  opacity: 1;
  background: rgb(0, 0, 0, 0.5);
}
